@model List<B1.DataLayer.Models.TurnoverSheetModel>;

<a href="Excel/Upload">Upload excel</a>

@foreach (var sheet in Model)
{
    <a href="/Excel/@sheet.Id">Set Active</a>
    <div>@sheet.CompanyName</div>
    <div>@sheet.TurnoverSheetName</div>
    <div>@sheet.PeriodName</div>
    <div>@sheet.TargetName</div>
    <div>@sheet.CreationDate</div>
    <div>@sheet.EntityName</div>
}
